<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js')}}" defer></script>
    <title>Stock Analyzer</title>
</head>
<body>
    <h1>The Stock Analyzer</h1>
<p>Welcome to The-Stock-Analyzer, an experimental project inspired by my frustration with checking Wealthsimple stock market updates and whether should i buy on the dip or not. I have been using wealthsimple for more than a year, I decided to build a functional stock assistant that retrieves, analyzes, and creates visualizations of stock market data powered by GPT and driven by effective prompting techniques.

</p>
</body>
</html>